@*@model IEnumerable<RestuarantProjectMVC.Models.RestaurantMVC>*@
@using RestuarantProjectMVC;
@{
    //RestaurantMVC restaurant = ViewBag.Restaurant as RestaurantMVC;
    var restaurant = ViewData.Model;
}





<div class="text-center">
    <h1 class="display-4">Get a restaurant</h1>
    <p>Enter a Zip Code to get a restaurant.</p>
</div>


<div style="width: 20%; margin: 0 auto" class="text-center">
    <div class="form-row align-items-center">
        @using (Html.BeginForm("Index", "RestaurantMVC", FormMethod.Get))
         {
            <div class="form-group">
                <input type="text" name="ZipCode" class="form-control text-center" maxlength="5" />
            </div>
            <br />

            <input type="submit" value="Enter" class="btn btn-primary" />
         }
    </div>
</div>

<br />
<div class="text-center align-items-center">
    <h2>Restaurants</h2>

    <table class="table">
        <tr>
            <th>Restaurant</th>
            <th>Phone Number</th>
            <th>Hours</th>
            <th>Address</th>
            <th>City</th>
            <th>State</th>
        </tr>

        <tr>
            <td>@restaurant.restaurantName</td>
            <td>@restaurant.phone </td>
            <td>@restaurant.hoursInterval </td>
            <td>@restaurant.address </td>
            <td>@restaurant.cityName </td>
            <td>@restaurant.stateName </td>

        </tr>
    </table>

</div>
