@*@model IEnumerable<RestuarantProjectMVC.Models.RestaurantMVC>*@
@using RestuarantProjectMVC;
@{
    //RestaurantMVC restaurant = ViewBag.Restaurant as RestaurantMVC;
    var restaurant = ViewData.Model;
}


<br />
<div class="text-center align-items-center">
    <h2>Restaurants</h2>

    <table class=" table table-bordered table-striped">
        <thead>
            <tr>
                <th>Restaurant</th>
                <th>Phone Number</th>
                <th>Hours</th>
                <th>Address</th>
                <th>City</th>
                <th>State</th>
            </tr>
        </thead>

        <tr>
            <td>@restaurant.restaurantName</td>
            <td>@restaurant.phone </td>
            <td>@restaurant.hoursInterval </td>
            <td>@restaurant.address </td>
            <td>@restaurant.cityName </td>
            <td>@restaurant.stateName </td>

        </tr>
    </table>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        @*<div class="form-group">
            <input type="text" name="home" class="form-control text-center" maxlength="5" />
        </div>*@
        <br />

        <input type="submit" value="Back to Home" class="btn btn-primary" />
    }
</div>
